@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Open+Sans:wght@400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

header { 
    background-color: #0288D1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    background-color: #4FC3F7;
    float: right;
    width: 40%;
    margin-left: 2%;
    margin-bottom: 2%;
    padding: 10px;
}

footer {
    background-color: #0288D1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    color: #29B6F6
}

h1, header p, footer p {
    color: white;
}

footer p {
    font-style: italic;
}

header p {
    font-style:italic;
    margin-top: 0;           
    line-height: 1.2; 
}

h1 {
    margin-bottom: 5px;    
    line-height: 1.2;      
}

.image-container {
  text-align: center;        
  margin: 20px 0;
}

.image-container img {
  width: 300px;            
  height: auto;
  border-radius: 12px;      
}

.caption {
  font-size: 14px;           
  color: #337492;            
  margin-top: 8px;
  font-style: italic;
}

aside p {
  font-style: italic;
  font-weight: bold;
  color: #29B6F6
}

#wrapper {
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#page {
    padding-left: 3%;
    padding-right: 3%;
}

nav a {
  color: #072d26; 
  text-decoration: none;
  padding: 4px 8px;
  display: inline-block;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: #0288D1; 
  color: #FFFFFF;            
}

nav a:visited {
  color: #341b9a; 
}

nav p {
    color: white;
    font-weight: bold;
}


